canvas{
    border: 1px black solid;
}
body{
    background-image: url("background.jpg");
}
h3{
    font-size: 25px !important;
}
#button{
    border-radius: 15px;
    background-color: #e86bb2;
    color: white;
}
#button:hover{
    background-color: #a85484;
    border-radius: 5px;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 30px #db93bc;}
    to{box-shadow: 10px 15px 30px #661744;}
}
#button2{
    background-color: #a85484;
    color: white;
}